@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
*{
  font-family: 'Nunito', sans-serif;

}
body{
  font-family: 'Nunito', sans-serif;
  text-align: center;
}
#top{
  padding-top: 50px;

}
#container{
  padding-top: 40px;

  font-family: 'Nunito', sans-serif;

    padding-top: 40px;
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 11%), 40%;
    justify-content: center;
    justify-items: center;

}
#inside{
  padding-top: 40px;

    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(10, 12%);
    grid-column: 2/10;
    grid-row: 2/11;
    border: 1px solid rgb(117, 112, 112);
    box-shadow: 5px 10px 8px #888888;

}
#date{

    grid-column: 1/3;
    grid-row: 2/8;
    border-right: 1px grey solid;
}
.info{
    grid-column: 4/10;
    grid-row: 1/11;
}



.wrapper{    
    justify-content: center;  
    top: 45px;
    padding: 2em;
    overflow: hidden;
    grid-column: 1/11;
    grid-row: 12/ span 4;
    position: relative;

  
  }
  
  #display{
    padding: 2em;
  
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    box-shadow: 5px 10px 8px #888888;
  
  }
  
  #display span{
    position: relative;
    z-index: 2;
  }
  
  #display:after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 115, 255);
    transition: all .35s;
  }
  
  #display:hover{
    color: #fff;
  }
  
  #display:hover:after{
    width: 100%;
  }

.material-icons{
    color: rgb(0, 115, 255);

}
#icon{
    color: rgb(0, 115, 255);
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}

