@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
  font-family: 'Nunito', sans-serif;

}

body {
  position: relative;

}

.background {
  background-color: #5CA4EA;
}

#firstcard,
#table {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 240px;
  color: #fff;
  background-color: #90e0ef;
}

#secondcard {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 240px;
  color: #fff;
  background-color: #00b4d8;
}

#volleyball {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 240px;
  color: #fff;
  background-color: #3f37c9;
}

#yoga {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 240px;
  color: #fff;
  background-color: #023e8a;
}

#boxing {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 250px;
  color: #fff;
  background-color: #0077b6;
}

#dance {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 250px;
  color: #fff;
  background-color: #023e8a;
}

#soccer {
  margin-bottom: 15px;
  padding-top: 20px;
  height: 250px;
  color: #fff;
  background-color: #0077b6;
}

.bball {
  float: right;
  width: 60;
  height: 240px;
  left: 11px;
  bottom: 20px;
  position: relative;
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.link {
  color: white;
}

.material-icons {
  color: rgb(0, 115, 255);
}

#icon {
  color: rgb(0, 115, 255);
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

#box {
  height: 250px;
}