@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
*{
  font-family: 'Nunito', sans-serif;

}
  body {
    position: relative;

  }

  #badminton,
  #table {
    margin-bottom: 15px;
    padding-top: 20px;
    height: 240px;
    color: #fff;
    background-color: #1E88E5;
  }

  #basketball,
  #volleyball {
    margin-bottom: 15px;
    padding-top: 20px;
    height: 240px;
    color: #fff;
    background-color: #673ab7;
  }

  #yoga {
    margin-bottom: 15px;
    padding-top: 20px;
    height: 240px;
    color: #fff;
    background-color: #ff9800;
  }
  #boxing,
  #dance {
    margin-bottom: 15px;
    padding-top: 20px;
    height: 250px;
    color: #fff;
    background-color: #00bcd4;
  }

  #soccer {
    margin-bottom: 15px;
    padding-top: 20px;
    height: 250px;
    color: #fff;
    background-color: #009688;
  }

  .bball{
    float: right;
    width: 60;
    height: 240px;
    left:11px;
    bottom: 20px;
    position: relative;
    clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 0% 100%);
  }

  .link{
    color:white;
  }

  .material-icons{
            color: rgb(0, 115, 255);
    }
    #icon {
        color: rgb(0, 115, 255);
        position: relative;
        font-family: "Avenir Next", sans-serif;
        font-weight: 900;
        text-transform: uppercase;
        font-style: italic;
        letter-spacing: 0.05em;
        display: inline-block;
    }

    #box{
      height: 250px;
    }