@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

* {
    font-family: 'Nunito', sans-serif;

}

.container {

    text-align: center;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: center;
    background-position: center;

}


.background{
    background-color: #5CA4EA;
}

.box {
    padding: 15px;
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    border: 4px black solid;
    border-radius: 20px;
}

#logo {
    font-size: 100px;
}

#desciption {
    font-size: 40px;
}

#button {
    margin-top: 40%;
    text-align: center;
    justify-content: center;

}

.wrapper {
    text-align: center;
    bottom: 40%;
    position: relative;
}

/* a.button {
            font-size:50px;
            position: relative;
            margin-top: 100px;
            justify-content: center;
            display: inline-block;
            background: #111;
            color: #fff;
            padding: 20px 40px;
            margin: 20px;
            cursor: pointer;
            clip-path: polygon(0% 0%, 5% 100%, 87% 88%, 99% 90%, 94% 4%);
            transition: all .5s;

        } */

.wrapper {
    text-align: center;
    justify-content: center;
    top: 45px;
    padding: 2em;
    overflow: hidden;
    grid-column: 1/11;
    grid-row: 12/ span 4;
    position: relative;


}

#display {
    padding: 2em;
    width: 200%;
    line-height: 40px;
    font-size: 18px;
    font-family: sans-serif;
    text-decoration: none;
    color: #333;
    border: 2px solid #333;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    transition: all .35s;
    box-shadow: 5px 10px 8px #888888;

}

#display span {
    position: relative;
    z-index: 2;
}

#display:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: rgb(0, 115, 255);
    transition: all .35s;
}

#display:hover {
    color: #fff;
}

#display:hover:after {
    width: 100%;
}

.firstcard {
    background-color: #90e0ef;
}

.secondcard{
    background-color: #00b4d8;
}

.thirdcard{
    background-color: #0077b6;
}

.fourthcard{
    background-color: #023e8a;
}

.fifthcard{
    background-color: #3f37c9;
}







.next {
    font-size: 13px;
}

div.scrollmenu {

    margin-top: 10%;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    position: relative;
}

div.scrollmenu a {
    font-size: 40px;
    height: 200px;
    width: 250px;
    border: white solid 2px;
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}



#logo span {
    color: rgb(0, 115, 255);
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    font-size: 64px;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}

/* We create a pseudo element and blur it using the SVG filter. We’ll grab the content from the custom HTML attribute. */

span:before {
    position: absolute;
    left: 0;
    top: 0;
    content: attr(filter-content);

    filter: url(#motion-blur-filter);
}

/* We hide the SVG filter element from the DOM as it would take up some space */

svg {
    display: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}

.material-icons {
    color: rgb(0, 115, 255);

}

#icon {
    color: rgb(0, 115, 255);
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}