#icon {
    color: rgb(0, 115, 255);
    position: relative;
    font-family: "Avenir Next", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-style: italic;
    letter-spacing: 0.05em;
    display: inline-block;
}