@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap%27');

* {
  font-family: 'Nunito', sans-serif;

}

#icon {
  color: rgb(0, 115, 255);
  position: relative;
  font-family: "Avenir Next", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: 0.05em;
  display: inline-block;
}

.material-icons {
  color: rgb(0, 115, 255);

}

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background: #5CA4EA;
    font-family: 'Lato', sans-serif;
}